
@import url(https://fonts.googleapis.com/css?family=Satisfy|Handlee|Raleway:400,600);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	/*background-color: #f8f8ff;*/
	color: #444;
	font-family: raleway, helvetica, sans serif;
	font-size: 12 px;
}

#two_column {
	width:80%; /*950px;*/
	margin: auto;
	padding: 20px;
	border: 1px black solid;
	background-color:#FFB7CF;
}

#left {
	width: 31%; /*300px;*/
	min-width: 131px;
	margin: 0 1% 1%;
	border: 1px black solid;
	background-color: #E582A2;
	float: left;
}

#right {
	width: 65%; /*600px;*/ 
	border: 1px black solid;
	margin: 0 1% 1%;
	padding: 1.2em;
	height: auto;
	display: inline-block;
	background-color: #E55B88;
}

header{
	text-align: center;
	margin-bottom: 50px;
	/*background-color: #FFED74*/
}

h1{
	font-family: 'Satisfy', cursive;
	font-size: 35px;
}

#slogan{
	font-family: 'Handlee', cursive;
	font-size: .8em;
	margin-top: .8em;
	margin-bottom: 1em;
}

figure img{
	width: 100%;
	max-width: 300px;
	display: block;
	margin: 20px auto;
}

nav a{
	margin: 20px 10%;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #444444;
	display: block;
}

nav a:hover{
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	color: #993399;
}

#right img{
	width: 100%;
	max-width: 277px;
	margin: .6em;
	float: left;
}

#quoteblock{
	width: 100%;
	height: 277px;
	max-width: 277px;
	margin: .6em;
	padding: 40px;
	padding-top: 60px;
	font-size: 1.1em;
	display: block;
	float: left;
	overflow: auto;
	background-color: white;
}

#author{ 
	text-align: right;
	font-size: .8em;
}

#top{
	background-color: black;
	height: 30px;
}

footer{
	background-color: black;
	height: 30px;
	padding-top: .5em;
	font-size: .8em;
	text-align: center;
	color: white;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear:both;
	height:0;
}

