
@import url(https://fonts.googleapis.com/css?family=Satisfy|Handlee|Raleway:400,600);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	/*background-color: #f8f8ff;*/
	color: #444;
	font-family: raleway, helvetica, sans serif;
	font-size: 12 px;
	background-color: #eef7fa;
}

#two_column {
	width:80%;
	max-width: 1100px;
	margin: auto;
	/*border: 1px black solid;
	background-color:#FFB7CF;*/
}

#left {
	width: 31%; /*300px;*/
	min-width: 131px;
	margin: 1%;
	/*border: 1px black solid;
	background-color: #E582A2;*/
	float: left;
}

#right {
	width: 65%; /*600px;*/ 
	/*border: 1px black solid;*/
	margin: 1%;
	height: auto;
	display: block;
    float: left;
	/*background-color: #E55B88;*/
}

header{
	text-align: center;
	margin-bottom: 30px;
	/*background-color: #FFED74*/
}

h1{
	font-family: 'Satisfy', cursive;
	font-size: 2.5em;
}

#slogan{
	font-family: 'Handlee', cursive;
	font-size: 1em;
	margin-top: .8em;
	margin-bottom: .8em;
}

#logo img{
	width: 90%;
	max-width: 300px;
	display: block;
	margin: 0 auto 10px;
}

nav a{
	margin: 20px 10%;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #444444;
	display: block;
}

nav a:hover{
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	color: #993399;
}

.main-image{
	width: 47%;
	display: block;
	margin: 0 1.5% 1em;
	float: left;
	/*background-color: yellow;*/
}

figure img{
	width: 100%;
	max-width: 300px; /*277px;*/
	margin: auto;
	display: block;
}

figcaption{
	font-size: 1em;
	text-align: center;
}

#quoteblock{
	width: 47%;
	height: auto; /*277px;*/
	max-width: 300px;
	margin: 0 1.5% 1em;
	padding: 13% 4.5%; /*4em 3.33em;*/
	font-size: 1.1em;
	display: block;
	float: left;
	overflow: auto;
}

#author{ 
	text-align: right;
	font-size: .8em;
}

#top{
	background-color: black;
	height: 30px;
}

footer{
	background-color: black;
	height: 30px;
	padding-top: .5em;
	font-size: .8em;
	text-align: center;
	color: white;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear:both;
	height:0;
}

@media only screen and (max-width: 1100px){
#two_column {
	width:90%;
}
}

@media only screen and (max-width: 912px){
h1{
	font-size: 2.3em;
}
}

@media only screen and (max-width: 838px){
#two_column {
	width:95%;
}
}

@media only screen and (max-width: 730px){
#left {
	width: 98%; /*300px;*/
	margin: 1% 1% 5%;
}

#logo img{
	display: none;
}

h1{
	margin-top: 5%;
	font-size: 4em;
}

#slogan {
	margin-top: 1%;
	font-size: 1.2em;
}

nav{
	text-align: center;
	margin-top: 3%;
}

nav a{
	margin: 5% 2%;
	display: inline;
}

#right {
	width: 98%;
	margin: 1%;
	height: auto;
	display: block;
    float: left;
}
}

@media only screen and (max-width: 503px){
nav a{
	margin: 3% auto;
	display: block;
}
}

@media only screen and (max-width: 400px){
h1{
	margin-top: 5%;
	font-size: 3em;
}

#slogan{
	font-size: 1em;
}

/*nav a{
	margin: 3% auto;
	display: block;
}*/

.main-image{
    width: 97%;
    margin: 1em auto;
    display: block;
    float: none;
}

#quoteblock{
	width: 97%;
    margin: 1em auto;
    display: inline;
    float: none;
	padding: 13% 4.5%; /*4em 3.33em;*/
	font-size: 1em;
	text-align: center;
	display: block;
	float: none;
	overflow: auto;
}
}